/* components/fun-diy/fun-diy.wxss */
.funA {
  width: 140rpx;
  height: 140rpx;
  box-shadow: 0rpx 8rpx 20rpx 0rpx rgba(0, 0, 0, 0.3);
  border-radius: 28rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 8rpx;
  box-sizing: border-box;
  overflow: hidden;
  image {
    width: 60rpx;
    height: 60rpx;
    margin: 0 auto;
  }
  .title {
    font-size: 28rpx;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    font-weight: 700;
  }
}
.funB {
  box-shadow: 0rpx 8rpx 20rpx 0rpx rgba(0, 0, 0, 0.3);
  border-radius: 28rpx;
  display: flex;
  // flex-direction:row-reverse;
  justify-content: center;
  align-items: center;
  padding: 8rpx;
  box-sizing: border-box;
  overflow: hidden;
  image {
    margin: 0 auto;
    margin-right: 20rpx;
    margin-left: 0rpx;
  }
  .title {
    font-size: 28rpx;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
  }
}
.funC {
  box-shadow: 0rpx 8rpx 20rpx 0rpx rgba(0, 0, 0, 0.3);
  border-radius: 28rpx;
  display: flex;
  flex-direction:row-reverse;
  justify-content: center;
  align-items: center;
  padding: 8rpx;
  box-sizing: border-box;
  overflow: hidden;
  image {
    margin: 0 auto;
    margin-left: 0;
  }
  .title {
    font-size: 28rpx;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
  }
}