/* components/login/login.wxss */
.containerLogin {
  padding: 70rpx;
  // margin-top: 50px;
}

/* 输入框样式 */
.input-field {
  margin-bottom: 40rpx;
}

/* 按钮样式 */
.button {
  margin-top: 30rpx;
}
.van-field {
  border-radius: 10rpx;
  margin-bottom: 20rpx;
}
.van-button{
  margin-bottom: 20rpx;
}