/* pages/point-shop/point-shop.wxss */
page{
  background-color:#f9f9f9;
}
.weui-navigation-bar {
  background-color:#a7ca7a ;
}
.point_info{
  height: 12vh;
  background-color: #a7ca7a;
  .point{
    width: 100vw;
    height: 6vh;
    text-align: center;
    line-height: 6vh;
    color: #ffffff;
    font-size: 48rpx;
  }
  .msg{
    width: 100vw;
    text-align: center;
    color: #ffffff;
  }
}
.product_info{
  height: 100vh;
  background-color: #f9f9f9;
  .title{
    width: 100%;
    padding: 30rpx;
    font-weight: bolder;
    color: #303030;
  }
  .product_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 8rpx;
    box-sizing: border-box;
    .product_item{
      width: 32vw;
      height: 360rpx;
      background-color: white;
      margin-bottom: 20rpx;
      box-sizing: border-box;
      border-radius: 4rpx;
      .prodct_image{
        padding: 16rpx;
        box-sizing: border-box;
        image{
          width: 100%;
          height: 200rpx;
        }
      }
      .product_name{
        width: 100%;
        text-align: center;
        font-weight: 600;
      }
      .product_point{
        color: #d85d5f;
        font-weight: 600;
        padding-top: 20rpx;
        padding-left: 10rpx;
      }
    }
  }
}
